<!DOCTYPE HTML>
{{ partial "gallery-lang.html" . }}
<head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
{{ partial "gallery-head.html" . }}
</head>
<body>
        
    <div id="wrapper">

    {{ partial "gallery-header.html" . }}
        
        <div id="main">
            {{ range $img := .Page.Params.resources }}
                {{ partial "photo.html" (dict "context" $img "album" $.Page.Params.album ) }}
            {{ end }}
            {{ .Content }}
        </div>

    {{ partial "gallery-footer.html" . }}

    </div>

{{ partial "gallery-scripts.html" . }}

</body>
</html>
