<article class="post-full post page no-image"> 
    <header class="post-full-header">
        <h1 class="post-full-title">{{.Title | title}}</h1>
    </header>

    <section class="post-full-content">
        <div class="kg-card-markdown">
        {{ .Summary }}
        {{ if eq .Params.toc true }}
        <aside style="text-align: left; width: 100%;">
            <div>
                {{ .TableOfContents }}
            </div>
        </aside>
        {{ end }}
        {{ $body := replace .Content .Summary "" }}
        {{ $body | safeHTML }}
        </div>
    </section>
</article>