<style type="text/css">

@media (min-width: 900px) {
    img.aboutme {
        float: left;
        width: 24%;
        padding: 0;
        margin: 0 10px 0 0;
    }
}
</style>
<div style="display: block;">
    <img class="aboutme" src="../img/emily.jpg" alt="A selfie of Emily" />
    <p style="margin-top: 0px; margin-bottom: 0px;">
        Hi there! I'm Emily F. Gorcenski, and this is my personal website. Before going further, please note that I am highly opinionated, but those strong opinions belong only to me and I am not speaking for my employer or any other organization unless stated otherwise. I am a data scientist by profession, a mathematician and engineer by training, and an activist by passion. I am somewhat of a digital nomad, though I am from Charlottesville, Virginia, and the events of 2017 in that city have strongly informed my activism and political viewpoints. On this page, you'll find a brief CV, bio, and other information that you might care about or need.
    </p>
</div>